*,
*:before,
*:after {
    box-sizing: border-box;
    color: #4D4D4F;
}

strong {
    font-weight: 700;
}

body {
    background-color: #f5f5f6;
    font-family: sans-serif;
}

body.body--lock {
    overflow: hidden;
}

.wrap--center {
    max-width: 1500px;
    background-color: #fafafa;
    margin: auto;
}

.wrap--full {
    max-width: 100%;
}

@media (max-width: 1500px) {
    .wrap--center {
        max-width: initial;
        width: 100%;
    }
    .wrap--full {
        max-width: initial;
        width: 100%;
    }
}

.header {
    display: flex;
    position: relative;
    z-index: 5;
    height: 120px;
    padding: 5px 20px 5px 20px;
    color: #4D4D4F;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, #4D4D4F 0%, #eee 50%, #4D4D4F 100%);
}

.header__logo {
    height: 100%;
    width: 200px;
    object-fit: contain;
    filter: drop-shadow( 0 0 10px #fff);
}

.header__title-inner {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.header__title-inner img {
    height: 55px;
    width: 150px;
    object-fit: contain;
    display: block;
    filter: drop-shadow( 0 0 10px #fff);
}

.header__title-inner h2 {
    font-size: 55px;
    color: #000;
    font-weight: 700;
    display: block;
    text-shadow: 0 0 10px #fff;
}

.header__wrap-selector {
    display: flex;
    height: 100%;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.header__wrap-selector>form {
    width: 100%;
}

.header__wrap-selector input {
    display: none;
}

.header__wrap-selector input[type=radio]:checked+label {
    font-weight: 700;
}

.header__wrap-selector label {
    cursor: pointer;
    position: relative;
    padding-left: 23px;
    line-height: 30px;
    color: #000;
    text-shadow: 0 0 10px #fff;
}

.header__wrap-selector label:hover {
    color: #FF5000;
    letter-spacing: 1px;
}

.header__wrap-selector label::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 0px;
    border: #FF5000 1px solid;
    border-radius: 50%;
    box-shadow: 0 0 15px #fff;
}

.header__wrap-selector input[type=radio]:checked+label::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: #FF5000;
    left: 3px;
    bottom: 3px;
    box-shadow: 0 0 15px #fff;
}

@media (max-width: 1500px) {
    .header__title {
        padding-right: 200px;
        flex: 1 1 auto;
    }
    .header__wrap-selector {
        display: none;
    }
}

@media (max-width: 1250px) {
    .header {
        height: 80px;
        padding: 5px 10px 5px 10px;
    }
    .header__logo {
        width: 100px;
    }
    .header__title {
        padding-right: 100px;
    }
    .header__title-inner img {
        height: 30px;
        width: 90px;
    }
    .header__title-inner h2 {
        font-size: 30px;
    }
}

@media(max-width: 767px) {
    .header {
        height: 60px;
        padding: 5px 5px 5px 5px;
    }
    .header__logo {
        width: 70px;
    }
    .header__title {
        padding-right: 70px;
    }
    .header__title-inner img {
        height: 18px;
        width: 50px;
    }
    .header__title-inner h2 {
        font-size: 18px;
    }
}

@media(max-width: 450px) {
    .header__title {
        padding-right: 10px;
    }
    .header__title-inner {
        margin: 0 5px;
    }
    .header__title-inner img {
        height: 16px;
        width: 30px;
    }
    .header__title h2 {
        padding-right: 0px;
        font-size: 16px;
    }
}


/* --- nav menu --- */

.nav {
    height: 54px;
    position: relative;
    z-index: 4;
}

.nav--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-inner {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    border-top: 2px solid #FF5000;
    border-bottom: 2px solid #FF5000;
    background: linear-gradient(90deg, #FF7333 0%, #FFCAB3 30%, #FFCAB3 70%, #FF7333 100%);
}

.nav-burger {
    display: none;
}

.nav__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.nav__list-item {
    width: 190px;
    padding: 5px 5px;
    position: relative;
    color: #383838;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    user-select: none;
}

.nav__list-item:hover {
    color: #662200;
    letter-spacing: 1px;
    font-weight: 700;
}

.nav__list-item:active {
    color: #000;
    background: #EEF2F4;
}

.nav__list-item::after {
    content: '';
    position: absolute;
    transition: inherit;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 0%;
    bottom: 7px;
    background: #662200;
}

.nav__list-item:hover::after {
    width: 75%;
}

.nav__list-item--active {
    font-weight: 700;
}

.nav__list-item a {
    display: flex;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: auto;
}

.nav__list-item a span {
    color: inherit;
    text-align: center;
    margin: auto;
}

.btn-filter-show {
    display: none;
}

@media(max-width: 767px) {
    .nav {
        height: 40px;
    }
    .nav-inner {
        justify-content: space-between;
    }
    .nav-burger {
        display: block;
        z-index: 4;
        position: relative;
        height: 26px;
        width: 40px;
        margin: auto 5px;
        cursor: pointer;
    }
    .nav-burger span,
    .nav-burger::before,
    .nav-burger::after {
        display: block;
        position: absolute;
        height: 15%;
        width: 100%;
        background-color: #fff;
        margin: 0 auto;
        left: 0;
        right: 0;
        transition: all 0.5s ease 0s;
    }
    .nav-burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .nav-burger::before,
    .nav-burger::after {
        content: '';
    }
    .nav-burger::before {
        top: 0;
    }
    .nav-burger::after {
        bottom: 0;
    }
    .nav-burger.menu-button--active span {
        transform: scale(0)
    }
    .nav-burger.menu-button--active::before {
        top: 50%;
        transform: rotate(45deg) translate(0px, -50%);
    }
    .nav-burger.menu-button--active::after {
        bottom: 50%;
        transform: rotate(-45deg) translate(0px, 50%);
    }
    .nav-body {
        position: fixed;
        z-index: 3;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.90);
        padding: 120px 20px 30px;
        transition: left 0.4s ease 0s;
        overflow: auto;
    }
    .nav-body.menu-body--active {
        left: 0;
    }
    .nav--sticky .nav-body {
        padding: 60px 20px 30px;
    }
    .nav-body::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        left: -100%;
        background: #FF5000;
        z-index: 3;
        transition: left 0.4s ease 0s;
    }
    .menu-body--active.nav-body::before {
        left: 0;
    }
    .nav--sticky .nav-body::before {
        height: 40px;
    }
    .nav__list {
        flex-direction: column;
        justify-content: flex-start;
    }
    .nav__list-item {
        width: 80%;
        margin: 0 10% 2rem;
        color: #eee;
        font-size: 2rem;
        letter-spacing: initial;
        font-weight: 400;
    }
    .nav__list-item:hover {
        color: #FF5000;
        letter-spacing: initial;
        font-weight: 400;
    }
    .nav__list-item::after {
        bottom: 0px;
        height: 3px;
    }
    .nav__list-item--active {
        color: #ff8750;
    }
    .btn-filter-show {
        display: block;
        margin: auto 5px;
        border: 2px solid #fff;
        border-radius: 10px;
        padding: 0.3em 1.6em 0.3em 0.5em;
        color: #fff;
        font-weight: 700;
        letter-spacing: 0.2em;
        z-index: 2;
        position: relative;
    }
    .btn-filter-show::before,
    .btn-filter-show::after {
        position: absolute;
        content: '';
        background: #fff;
        width: 0.78em;
        height: 2px;
        transition: all 0.6s ease 0s;
    }
    .btn-filter-show::before {
        right: 0.7em;
        top: 32%;
        transform: rotate(-40deg);
    }
    .btn-filter-show::after {
        right: 0.7em;
        bottom: 32%;
        transform: rotate(40deg);
    }
    .menu-button--active.btn-filter-show::before {
        right: 0.6em;
        top: 32%;
        transform: rotate(-140deg);
    }
    .menu-button--active.btn-filter-show::after {
        right: 0.6em;
        bottom: 32%;
        transform: rotate(140deg);
    }
}


/* --- main --- */

.main {
    min-height: calc(100vh - 120px - 54px - 30px);
    width: 100%;
    display: flex;
}

.nav--sticky+.main {
    padding-top: 54px;
}

.main-inner {
    width: calc( 100% - 250px);
    padding: 10px;
}

@media(max-width: 767px) {
    .nav--sticky+.main {
        padding-top: 40px;
    }
}


/* --- filter --- */

.filter {
    display: block;
    width: 250px;
    padding: 10px;
}

.filter__btn-group {
    border-radius: 5px;
    box-shadow: 0px 0px 4px 2px rgba(77, 77, 79, 0.3);
    padding: 0.5em 0.5em 0.8em 0.5em;
    text-align: center;
    margin-bottom: 15px;
}

.filter__btn-group:hover {
    box-shadow: 0px 0px 8px 3px rgba(77, 77, 79, 0.3);
    background: #fff;
}

.filter__title {
    border-bottom: rgba(77, 77, 79, 0.3) 1px solid;
    padding: 0.8em 0;
    margin-bottom: 0.8em;
    font-weight: 700;
}

.filter__btn-group:hover .filter__title h3 {
    color: #FF5000;
}

.filter__btn {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    background-color: #f5f5f6;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    min-width: 50px;
}

.filter__btn:hover {
    background-color: #ddd;
}

.filter__btn.active {
    background-color: #666;
    color: white;
}

@media (max-width: 1250px) {
    .filter {
        width: 20%;
    }
}

@media(max-width: 767px) {
    .filter {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.90);
        padding: 115px 15px 30px;
        transition: right 0.4s ease 0.1s;
        z-index: 2;
        overflow: auto;
    }
    .filter.menu-body--active {
        right: 0;
    }
    .filter::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        right: -100%;
        background: #000000;
        z-index: 3;
        transition: right 0.4s ease 0.1s;
    }
    .filter.menu-body--active::before {
        right: 0;
    }
    .nav--sticky2.filter::before {
        height: 40px;
    }
    .nav--sticky2.filter {
        padding: 55px 15px 30px;
    }
    .filter__btn-group {
        border-radius: 0px;
        box-shadow: initial;
        border: 1px solid #aaa;
    }
    .filter__btn-group:hover {
        box-shadow: initial;
        background: rgba(255, 255, 255, 0.20);
    }
    .filter__title {
        color: #f5f5f6;
        font-size: 1.6rem;
        border-bottom: 1px solid #444;
    }
    .filter__title h3 {
        color: #eee;
    }
    .filter__btn {
        font-size: 1.6rem;
        background-color: #f5f5f6;
        cursor: pointer;
        margin: 0.2em;
        border-radius: 0;
        width: 80%;
        height: 2.5em;
        min-width: initial;
    }
    .filter__btn.active {
        background-color: #FF5000;
        color: white;
    }
}


/* --- card ---*/

.luminaire-card {
    border-bottom: rgba(77, 77, 79, 0.3) 1px solid;
    transition: ease-in-out 0.3s;
    padding: 20px;
}

.luminaire-card:hover {
    box-shadow: 0px 0px 5px 2px rgba(77, 77, 79, 0.3);
    border-radius: 5px;
}

.luminaire-card--hide {
    display: none;
}

.luminaire-card__inner {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    max-height: 240px;
    transition: all ease-in-out 1s;
    background-image: url(../images/bg_card.svg);
    background-repeat: no-repeat;
    background-size: 920px auto;
    background-position: right top;
}

.luminaire-card__inner--full {
    max-height: 10000px;
}

.luminaire-card:last-child {
    border-bottom: none;
}

.luminaire-card__image-block {
    height: 240px;
    width: 280px;
    border: rgba(77, 77, 79, 0.3) solid 1px;
    border-radius: 5px;
}

.slider-hover {
    overflow: hidden;
    display: flex;
    position: relative;
}

.slider-hover__img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-hover__img--active {
    display: block;
}

.slider-hover__area {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.slider-hover__box {
    display: inline-flex;
    height: 100%;
    flex: 1 1 auto;
    z-index: 1;
    position: relative;
}

.luminaire-card__info {
    padding: 0 0 30px 20px;
    width: calc(100% - 280px);
}

.luminaire-card__title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 0.5rem 0.5rem;
    transition: all ease 0.5s;
    border-radius: 5px;
}

.luminaire-card:hover .luminaire-card__title {
    color: #FF5000;
    background: linear-gradient(90deg, #FEF5F1 30%, transparent 60%);
}

.luminaire-card__inner--full .luminaire-card__title {
    background: linear-gradient(90deg, #FEF5F1 30%, transparent 60%);
}

.luminaire-card .luminaire-card__info h3,
.luminaire-card .luminaire-card__info h4 {
    display: inline;
}

.luminaire-card .luminaire-card__info h3 {
    font-size: 1.8rem;
}

.luminaire-card__specifications h3,
.luminaire-card__specifications h4 {
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-left: 1em;
    line-height: 1.5rem;
    position: relative;
    transition: all 1s ease 2s;
}

.luminaire-card__inner--full .luminaire-card__specifications h3,
.luminaire-card__inner--full .luminaire-card__specifications h4 {
    background: linear-gradient(90deg, #FEF5F1 30%, transparent 60%);
}

.luminaire-card h3::after,
.luminaire-card h4::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 0;
    background-color: #FF5000;
    transition: width ease-in-out 1s;
}

.luminaire-card__inner--full .luminaire-card__specifications h3::after,
.luminaire-card__inner--full .luminaire-card__specifications h4::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #FF5000;
}

.luminaire-card:hover h3,
.luminaire-card:hover h4 {
    color: #FF5000;
}

.luminaire-card__text {
    margin: 15px 0;
}

.luminaire-card__button-details {
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: rgba(77, 77, 79, 1) 1px solid;
    border-radius: 3px;
    background: #fafafa;
    padding: 2px;
    box-shadow: 0px 0px 2px 2px rgba(77, 77, 79, 0.3);
}

.b-details {
    cursor: pointer;
    position: relative;
    width: 150px;
    height: 25px;
    border: none;
    background-color: inherit;
}

.b-details:hover,
.b-details:hover::before,
.b-details.active:hover::before {
    color: #FF5000;
    background-color: #fff;
}

.b-details::before {
    content: "Подробнее";
}

.b-details.active::before {
    content: "Свернуть";
}

.b-details span::after,
.b-details span::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 12px;
    bottom: 12px;
    background: #4D4D4F;
}

.b-details span::after {
    right: 6px;
    transform: rotate(-40deg);
    transition: transform ease-in-out 0.5s;
}

.b-details span::before {
    right: 15px;
    transform: rotate(40deg);
    transition: transform ease-in-out 0.5s;
}

.b-details.active span::after {
    right: 6px;
    transform: rotate(40deg);
}

.b-details.active span::before {
    right: 15px;
    transform: rotate(-40deg);
}

.details--hide {
    display: none;
}

.luminaire-card__specifications {
    margin-bottom: 45px;
    width: 100%;
}

.luminaire-card__specifications table {
    width: 100%;
}

.luminaire-card__specifications tr,
.luminaire-card__specifications th,
.luminaire-card__specifications td {
    border: rgba(77, 77, 79, 0.3) 1px solid;
    padding: 6px 5px 5px;
    text-align: center;
}

.luminaire-card__specifications th {
    font-weight: 700;
    background: rgba(255, 80, 0, 0.05);
}

.luminaire-card__complect-item,
.luminaire-card__accessory-item {
    line-height: 1.3em;
    font-size: 1rem;
    margin-bottom: 0.5em;
}

@media (max-width: 1250px) {
    .main-inner {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .main-inner {
        width: 100%;
    }
    .specifications-table {
        overflow-x: scroll;
    }
}

@media (max-width: 650px) {
    .luminaire-card__inner {
        display: block;
        position: relative;
        max-height: initial;
        background-position: right bottom;
        background-size: 100% auto;
    }
    .luminaire-card__image-block {
        position: relative;
        width: 100%;
        height: initial;
        border: rgba(77, 77, 79, 0.3) solid 1px;
        border-radius: 5px;
    }
    .luminaire-card__image-block::after {
        content: '';
        display: block;
        padding-bottom: 90%;
    }
    .luminaire-card__image-block img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .luminaire-card__info {
        padding: 0 0 25px;
        width: 100%;
    }
}


/* --- page accessory --- */

.main-accessory__inner {
    width: calc( 100% - 250px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-gap: 10px;
    align-content: start;
}

.accessory-card {
    border: 2px transparent solid;
    /* width: 100%; */
    overflow: hidden;
    transition: all ease-in-out 0.3s;
    background-image: url(../images/bg_card.svg);
    background-repeat: no-repeat;
    background-size: 400px auto;
    background-position: right bottom;
}

.accessory-card:hover {
    box-shadow: 0px 0px 5px 2px rgba(77, 77, 79, 0.3);
    border-radius: 5px;
    border: 2px rgba(77, 77, 79, 0.3) solid;
}

.accessory-card__inner {
    padding: 10px;
}

.accessory-card__title h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px 0;
    transition: all ease-in-out 0.3s;
}

.accessory-card:hover .accessory-card__title h3 {
    color: #FF5000;
}

.accessory-card__image-block {
    width: 100%;
    border: rgba(77, 77, 79, 0.3) solid 1px;
    border-radius: 5px;
    position: relative;
}

.accessory-card__image-block::after {
    content: '';
    display: block;
    padding-bottom: 90%;
}

.accessory-card__image-block img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accessory-card__info h4 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.accessory-card__text {
    margin-bottom: 30px;
}

@media (max-width: 1250px) {
    .main-accessory__inner {
        width: 80%;
    }
}

@media(max-width: 767px) {
    .main-accessory__inner {
        width: 100%;
    }
}


/* --- abbreviation --- */

.main-abbreviation__inner {
    width: 100%;
}

.abbreviation-uhl {
    max-width: 1380px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
}

.abbreviation-uhl--title {
    font-size: 1.4rem;
    margin: 1.4em 0;
    width: 100%;
    text-align: center;
}

.abbreviation-uhl--content-center {
    margin: 0 auto 3rem;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.abbreviation-uhl--content {
    padding: 2em 2em;
    width: 50%;
}

.abbreviation-uhl--content:nth-child(3n) {
    background: rgb(241, 215, 215);
}

.abbreviation-uhl--content:nth-child(3n-2) {
    background: rgb(210, 229, 238);
}

.abbreviation-uhl--content:nth-child(3n-1) {
    background: rgb(219, 255, 222);
}

.abbreviation-uhl--content ul {
    margin-bottom: 2em;
}

.abbreviation-uhl--content li {
    margin-bottom: 0.5em;
    margin-left: 1em;
}

@media(max-width: 767px) {
    .abbreviation-uhl {
        padding: 0;
    }
    .abbreviation-uhl--content {
        padding: 1em 1em;
        width: 100%;
    }
}


/* --- footer --- */

.footer {
    height: 30px;
}

.footer-inner {
    background: linear-gradient(90deg, #FF7333 0%, #FFCAB3 30%, #FFCAB3 70%, #FF7333 100%);
    color: #fefefe;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 2px solid #FF5000;
}

.footer-inner span {
    color: #000;
}